<!doctype html>
<html>
<head>
  <title>Meadowlark Travel</title>
</head>
<body>
<header>
  <img src="/img/logo.jpg" alt="Meadowlark Travel Logo">
</header>
  {{{body}}}
  <script>
    var fortunes = [
      "Conquer your fears or they will conquer you.",
      "Rivers need springs.",
      "Do not fear what you don't know.",
      "You will have a pleasant surprise.",
      "Whenever possible, keep it simple.",
    ];
  </script>
</body>
</html>